body {
  font-family: "Roboto", sans-serif;
}

.font-grey {
  color: #AAAAAA;
}

.bg-grey {
  background-color: #FCFCFC;
}

.image-box {
  text-align: center;
}

.text-box{
  padding: 10%;
}

.job-box {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 1rem;
  margin: 1rem;
  -moz-box-shadow: 0 0 30px 1px #CCCCCC;
  -webkit-box-shadow: 0 0 30px 1px #CCCCCC;
  box-shadow: 0 0 30px 1px #CCCCCC;
}

.orange-button {
  background-color: #FF7777;
  color: #FFFFFF;
  width: 150px;
}
